.section-block-list {
    overflow: hidden;
    padding: 1rem 0;

    @include respond-to($vp-large) {
        padding: 4rem 0;
    }

    &.img-inline {
        .item-image {
            @include mask-fullsize { background: linear-gradient(254.34deg, rgba(51, 154, 195, 0.8) 12.43%, rgba(0, 102, 141, 0.8) 86.09%); }

            svg, img {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                width: 130px;
                height: auto;
                transform: translate(-50%, -50%);
            }
        }
    }

    .items-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));

        @include respond-to($vp-large) {
            width: 100%;
            grid-gap: 1.75rem;
            overflow: visible;
        }
    }

    .item {
        flex: none;
        border: 2px solid $grey-light;
        border-radius: 5px;
        overflow: hidden;

        @include respond-to($vp-large) {
            width: 100%;
        }
    }

    .item-summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 13.75rem;
        padding: 0 8%;
        font-weight: 300;
        color: #4F4F4F;

        > * { margin: 0; }

        p { 
            max-width: 270px;
            margin: 1rem 0; 
            line-height: 1.625rem;
        }

        a {
            display: inline-block;
            font: {
                size: 1.125rem;
                weight: 500;
            }
            text: {
                transform: uppercase;
                decoration: none;
            }
            color: $primary-color;

            @include underline-from-left($border-size: 1px);
        }
    }

    .item-image {
        @include bg-cover;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 8.125rem;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respond-to($vp-large) {
            height: 13.125rem;
        }
    }
}